Creating am empty dictionary

In [2]:
D = {}
D

{}

Creating a dictionary literal

In [6]:
D = {
    'name': 'Bob',
    'age': 40
}
D['age']

40

Nesting in dictionary

In [17]:
E = {
    'cto': {
        'name': 'Bob',
        'age': 40
    }
}

E['cto']['name']

'Bob'

Creating a dictionary using the dict function

In [10]:
D = dict(name='Bob', age=40)
D

{'name': 'Bob', 'age': 40}

Create a dictionary from a list of tuples

In [11]:
records = [('name', 'Bob'), ('age', 40)]
D = dict(records)
D

{'name': 'Bob', 'age': 40}

Creating a dictionary using the zip function

In [16]:
names = ['kasozi', 'vincent']
ages = [26, 24]

records = zip(names, ages)
people = dict(records)
people['kasozi']

26

Indexing a dictionary

In [20]:
person = {
    'name': 'Mirembe Vanessa',
    'age': 21
}

person['name']

'Mirembe Vanessa'

Checking if a given key is in a dictionary

In [22]:
person = {
    'name': 'Mirembe Vanessa',
    'age': 21
}

'first_name' in person

False

Getting the keys of a dictionary

In [24]:
address = {
    'continent': 'Africa',
    'country': 'Uganda',
    'city': 'Kampala',
    'town': 'Ntinda'
}

list(address.keys())

['continent', 'country', 'city', 'town']

Accessing the values in a dictionary

In [26]:
list(address.values())

['Africa', 'Uganda', 'Kampala', 'Ntinda']

Converting a dictionary to a list

In [28]:
list(address.items())

[('continent', 'Africa'),
 ('country', 'Uganda'),
 ('city', 'Kampala'),
 ('town', 'Ntinda')]

Clearing all items from a dictionary

In [29]:
address.clear()

Number of entries in the dictionary

In [54]:
project = {
    'id': '1',
    'name': 'SPZ 001',
    'duration': 5,
}
template = '{0:10} {1:10}'
project['duration'] = 10
for record in project.items():
    print(template.format(*record))

id         1
name       SPZ 001
duration           10

Building dictionaries using dictionary comprehensions

In [39]:
names = ['kasozi', 'vincent', 'newton', 'vanessa', 'mirembe']
lengths = {name: len(name) for name in names}
lengths

{'kasozi': 6, 'vincent': 7, 'newton': 6, 'vanessa': 7, 'mirembe': 7}

Accesing dictionary values in a safe manner.

In [44]:
project.get('nme', 'vanessa')

'vanessa'

Creating new dictionary keys by assignment

In [46]:
phone = {}
phone['brand'] = 'Samsung'
phone['memory'] = '64gb'
phone

{'brand': 'Samsung', 'memory': '64gb'}

Example: Movie Database

In [49]:
 table = {
          '1975': 'Holy Grail', 
          '1979': 'Life of Brian',
          '1983': 'The Meaning of Life'
        }
table.get('1995', '')

''